@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@theme {
    --font-mont: "Montserrat", "sans-serif";
}